<div class="body">
  <div class="about">
      <img src="assets\portrait.png" alt="About Img"/>
  </div>

  <div class="about-title">
        <h1 class="double">About.</h1>
        <h1 class="title">About.</h1>
  </div>

  <div class="about">
    <div class="about-right">
    <p>Hi! I am Vivian M. Montanez - an aspiring web and app developer with a goal to create pleasing and
      user-friendly website and mobile application that users can easily navigate on. I am currently taking an internship
      to enhance my skills and widen my knowledge in web and app development. 

  </p>
  <div class="address">
      <ul>
          <li>
              <span class="address-logo">
                <fa-icon [icon]="loc"></fa-icon>
              </span>
              <p>Address</p>
              <span class="saprater">:</span>
              <p>San Pedro, Laguna</p>
          </li>
          <li>
              <span class="address-logo">
                <fa-icon [icon]="phone"></fa-icon>
              </span>
              <p>Phone No</p>
              <span class="saprater">:</span>
              <p>+63 9173560193 </p>
          </li>
          <li>
              <span class="address-logo">
                <fa-icon [icon]="add"></fa-icon>
              </span>
              <p>Email Address
              </p>
              <span class="saprater">:</span>
              <p>vivianmontanez01@gmail.com</p>
          </li>
      </ul>
  </div>
  <div class="expertise">
      <h3>My Expertise</h3>
      <ul>
          <li>
              <p>HTML</p>
          </li>
          <li>
              <p>CSS</p>
          </li>
          <li>
              <p>Angular</p>
          </li>
          <li>
              <p>Typescript</p>
          </li>
      </ul>
  </div>
</div>

</div>




