<div class="body">

  <div class="headercontainer">
    <h1 class="double absolute top-28 text-7xl font-bold">Services.</h1>
    <h1 class="title text-9xl font-bold">Services.</h1>
  </div>

  <section id="about-section">
      <!-- about left  -->
      <div class="about-left">
          <img src="assets\portrait.png" alt="About Img"/>
      </div>

      <!-- about right  -->
      <div class="about-right">
          <h1>About Me</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Debitis fugiat a dolorem at similique maxime dolorum dolore
              enim dicta voluptatibus, illum recusandae, vel optio tempore
              ipsum incidunt eum. Aspernatur, repellendus.
          </p>
          <div class="address">
              <ul>
                  <li>
                      <span class="address-logo">
                          <i class="fas fa-paper-plane"></i>
                      </span>
                      <p>Address</p>
                      <span class="saprater">:</span>
                      <p>Jaipur, Rajasthan, India</p>
                  </li>
                  <li>
                      <span class="address-logo">
                          <i class="fas fa-phone-alt"></i>
                      </span>
                      <p>Phone No</p>
                      <span class="saprater">:</span>
                      <p>+91 987-654-4321</p>
                  </li>
                  <li>
                      <span class="address-logo">
                          <i class="far fa-envelope"></i>
                      </span>
                      <p>Email ID</p>
                      <span class="saprater">:</span>
                      <p>crowncoder@gmail.com</p>
                  </li>
              </ul>
          </div>
          <div class="expertise">
              <h3>My Expertise</h3>
              <ul>
                  <li>
                      <span class="expertise-logo">
                          <i class="fab fa-html5"></i>
                      </span>
                      <p>HTML</p>
                  </li>
                  <li>
                      <span class="expertise-logo">
                          <i class="fab fa-css3-alt"></i>
                      </span>
                      <p>CSS</p>
                  </li>
                  <li>
                      <span class="expertise-logo">
                          <i class="fab fa-node-js"></i>
                      </span>
                      <p>Java Script</p>
                  </li>
                  <li>
                      <span class="expertise-logo">
                          <i class="fab fa-react"></i>
                      </span>
                      <p>React Js</p>
                  </li>
              </ul>
          </div>
      </div>
  </section>
</div>
