<div class="body">
  <div class="container">
    <img src="img/shape.png" class="square" alt="" />
    <div class="form">
      <div class="contact-info">
        <h3 class="title">Let's get in touch</h3>
        <p class="text">I would like to hear more from you.</p>

        <div class="info">
          <div class="information">
            <span class="expertise-logo">
              <span class="address-logo">
                <fa-icon [icon]="loc"></fa-icon>
              </span>
            </span>
            <p>San Antonio, San Pedro, Laguna</p>
          </div>
          <div class="information">
            <span class="address-logo">
              <fa-icon [icon]="add"></fa-icon>
            </span>
            <p>vivianmontanez01@gmail.com</p>
          </div>
          <div class="information">
            <span class="address-logo">
              <fa-icon [icon]="phone"></fa-icon>
            </span>
            <p>+63 917-2476-018</p>
          </div>
        </div>

        <div class="social-media">
          <p>Connect with me :</p>
          <div class="social-icons">
            <a href="https://web.facebook.com/vivs.njh">
              <fa-icon [icon]="fb"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/feed/"><fa-icon [icon]="linkedin"></fa-icon> </a>
            <a href="https://github.com/vivianm-montanez"><fa-icon [icon]="git"></fa-icon> </a>
            <a href="https://www.instagram.com/"><fa-icon [icon]="ig"></fa-icon> </a>
          </div>
        </div>
      </div>

      <div class="contact-form">
        <span class="circle one"></span>
        <span class="circle two"></span>

        <form action="index.html" autocomplete="off">
          <h3 class="title">Contact me</h3>
          <div class="input-container">
            <input type="text" name="name" class="input" />
            <label for="">Full Name</label>
            <span>Full Name</span>
          </div>
          <div class="input-container">
            <input type="email" name="email" class="input" />
            <label for="">Email</label>
            <span>Email</span>
          </div>
          <div class="input-container">
            <input type="tel" name="phone" class="input" />
            <label for="">Phone</label>
            <span>Phone</span>
          </div>
          <div class="input-container textarea">
            <textarea name="message" class="input"></textarea>
            <label for="">Message</label>
            <span>Message</span>
          </div>
          <input type="submit" value="Send" class="btn" />
        </form>
      </div>
    </div>
  </div>
</div>
