$menuHeight: 60px;
$menuBreakpoint: 768px;

#my-first {
  ul {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    height:65px;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 50;
    top: 0;
    background-color: #212025;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    right: 20px;
  }

  .menu a:hover{
    color:#4DBE9F ;
  }


  .logo{
    padding: 3vh 3vw;
    text-align: left;
    width: 20vw;
  }

  .logo img{
    height: auto;
    width: 4rem;
  }

  .burger {
    padding: 0 10px;
    display: none;
    cursor: pointer;

    i {
      color: #676CDB;
      line-height: $menuHeight;
    }

    @media (max-width: $menuBreakpoint) {
      display: block;
    }
  }


  .menu {
    display: flex;
    align-items: center;

    @media (max-width: $menuBreakpoint) {
      display: none;

      &.is-open {
        display: block;
        position: absolute;
        top: #{$menuHeight + 2};
        background: #fff;
        width: 100%;
        left:25rem;

        .menu-item {
          border-bottom: 1px solid #cccccc;
        }
      }
    }

    .menu-item {
      padding: 0 10px;
      height: $menuHeight;
      line-height: $menuHeight;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
      color: #676CDB;
    }
  }
}
