<nav id="my-first">
  <ul>
    <div class="logo">
      <img src="assets\logo.png" alt="Logo">
    </div>


    <li class="burger" (click)="toggleMenu()">
      <i class="material-icons">{{ isMenuOpen ? "Close" : "Menu" }}</i>
    </li>
    <li class="menu" [class.is-open]="isMenuOpen">
      <a routerLink="home" class="menu-item">Home</a>
      <a routerLink="about" class="menu-item">About</a>
      <a routerLink="services" class="menu-item">Services</a>
      <a routerLink="contacts" class="menu-item">Contact</a>
    </li>
  </ul>
</nav>
