<div class="body">

    <div class="headercontainer">
      <h1 class="double absolute top-28 text-7xl font-bold">Services.</h1>
      <h1 class="title text-9xl font-bold">Services.</h1>
    </div>

    <main>

        <section>
          <div class="row">

            <div class="column">
              <div class="card">
                <div class="icon-wrapper">
                  <fa-icon [icon]="desktop"></fa-icon>
                </div>
                <h3>UI/UX Design</h3>
                <p>
                  Creating intuitive and engaging user experiences that drive business results and
                  combining user-centered design principles with industry expertise to create interfaces
                  that are easy to use and visually appealing.
                </p>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="icon-wrapper">
                  <fa-icon [icon]="webdev"></fa-icon>
                </div>
                <h3>Web Development</h3>
                <p>
                  Creating a unique online presence that reflects the brand's values and goals
                  as well as delivering fast and responsive websites that are
                  optimized for search engines and user experience.
                </p>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="icon-wrapper">
                  <fa-icon [icon]="app"></fa-icon>
                </div>
                <h3>App Development</h3>
                <p>
                  Offers end-to-end solutions, from conceptualization to design, development, testing, and deployment.
                  Creating highly responsive and scalable apps that meet the business needs, ensuring a seamless user
                  experience across all devices and platforms.
                </p>
              </div>
            </div>

          </div>
        </section>
    </main>

  </div>
