<div class="body">
<div class="home-item">
  <p class="welcome">
    Welcome! I am
  </p>
</div>

<div class="home-item">
  <div class="portrait">
    <img src="assets\portrait.png">
  </div>
</div>

<div class="home-item">
  <p class="name">
    Vivian M. Montañez
  </p>
</div>
<div class="home-item">
  <p class="message">
  <span> web developer </span> with a passion for creating stunning and
  functional websites.
  </p>

  <button>
    <a href="assets\CV\Montanez_Vivian-CV.pdf" download class=" text-white py-2 px-4 rounded-md mt-4 inline-block">Download CV</a>
  </button>



</div>



  <app-footer></app-footer>
  <router-outlet></router-outlet>


</div>
